{% extends 'whoop/base.html' %}

{% block body %}
  <h2>Authenticate WHOOP</h2>

  {% if error %}
  <div style="color: red; margin-bottom: 10px;">
      <strong>Error:</strong> {{ error }}
  </div>
  {% endif %}

  <form method="post" action="{% url 'whooplogin' %}">
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>

  <input type="submit" value="Authenticate">
  <input type="hidden" name="next" value="{% url 'whoopsuccess' %}">
  </form>
{% endblock %}